/*dark css*/


.Nearoo-dark{
	background: #292E3C;
}

.Nearoo-header-area-dark .Nearoo-header-main-menu ul > li > a{
	color: #fff;
}
.Nearoo-header-area-dark .header-nav-box .Nearoo-btn-box .login-btn{
	color: #fff;
}



.Nearoo-hero-area-dark .Nearoo-hero-content .Nearoo-title{
	color: #fff;
}

.Nearoo-hero-area-dark .Nearoo-hero-content p{
	color: #fff;
}

.Nearoo-hero-area-dark .Nearoo-hero-content ul li a{
	background: #fff;
	border-color: #fff;
	color: #0e1133;
}

.Nearoo-hero-area-dark .Nearoo-hero-content ul li a:hover{
	background: transparent;
	color: #fff;
}

.Nearoo-hero-area-dark .Nearoo-hero-content ul li a.item-2{
	color: #fff;
}
.Nearoo-hero-area-dark .Nearoo-hero-content ul li a.item-2:hover{
	background: #fff;
	color: #0e1133;
}

.Nearoo-service-area.Nearoo-service-area-dark{
	background: #1f2128;
}

.Nearoo-service-area-dark .Nearoo-section-title .Nearoo-title{
	color: #fff;
}
.Nearoo-service-area-dark .Nearoo-section-title p{
	color: #fff;
}

.Nearoo-service-area-dark  .Nearoo-single-service{
	background: #292E3C;
}

.Nearoo-service-area-dark .Nearoo-single-service p,
.Nearoo-service-area-dark .Nearoo-single-service .Nearoo-title{
	color: #fff;
}

.Nearoo-features-area-dark  .Nearoo-features-tabs-btn .nav a{
	color: #fff;
}

.Nearoo-features-area-dark .Nearoo-features-content p,
.Nearoo-features-area-dark .Nearoo-features-content .title{
	color: #fff;
}

.Nearoo-traffic-area-dark .Nearoo-traffic-title p,
.Nearoo-traffic-area-dark .Nearoo-traffic-title .title{
	color: #fff;
}

.Nearoo-traffic-area-dark .Nearoo-traffic-service p,
.Nearoo-traffic-area-dark .Nearoo-traffic-service .title{
	color: #fff;
}

.Nearoo-traffic-area-dark .traffic-btn a.main-btn{
	color: #fff;
}
.Nearoo-traffic-area-dark .traffic-btn a.main-btn:hover{
	background: #fff;
	color: #ff0000;
}

.Nearoo-team-area-dark .Nearoo-section-title p,
.Nearoo-team-area-dark .Nearoo-section-title .Nearoo-title{
	color: #fff;
}

.Nearoo-team-area-dark .Nearoo-team-item .content span,
.Nearoo-team-area-dark .Nearoo-team-item .content .title{
	color: #fff;
}

.Nearoo-team-area-dark .team-btn a{
	color: #fff;
}



.Nearoo-faq-area-dark.Nearoo-faq-area,
.Nearoo-pricing-area-dark.Nearoo-pricing-area{
	background: #1f2128;
}

.Nearoo-pricing-area-dark .Nearoo-section-title p,
.Nearoo-pricing-area-dark .Nearoo-section-title .Nearoo-title{
	color: #fff;
}



.Nearoo-pricing-area-dark.Nearoo-pricing-area ul.switch-toggler-list li a{
	color: #fff;
	opacity: 0.1;
}
.Nearoo-pricing-area-dark.Nearoo-pricing-area ul.switch-toggler-list li.active a{
	color: #fff;
	opacity: 1;
}


.Nearoo-pricing-area-dark.Nearoo-pricing-area .pricing-one__single{
	background: #292E3C;
	color: #fff;
}

.Nearoo-pricing-area-dark .pricing-one__single .pricig-heading h6{
	color: #fff;
}

.Nearoo-pricing-area-dark .pricing-one__single .pricig-heading .price-range{
	color: #fff;
}

.Nearoo-pricing-area-dark .pricing-one__single .pricig-heading .price-range p{
	color: #fff;
}

.Nearoo-pricing-area-dark .pricing-one__single .pricig-heading > p{
	color: #fff;
}

.Nearoo-pricing-area-dark .pricing-one__single .pricig-body ul li{
	color: #fff;
}

.Nearoo-pricing-area-dark  .pricing-one__single .pricig-body .pricing-btn a{
	color: #fff;
}




.Nearoo-faq-area.Nearoo-faq-area-dark .Nearoo-section-title p,
.Nearoo-faq-area.Nearoo-faq-area-dark .Nearoo-section-title .Nearoo-title{
	color: #fff;
}


.Nearoo-faq-area.Nearoo-faq-area-dark .faq-accrodion .accrodion{
	background: #292E3C;
	
}
.Nearoo-faq-area.Nearoo-faq-area-dark .faq-accrodion .accrodion .accrodion-inner,
.Nearoo-faq-area.Nearoo-faq-area-dark .faq-accrodion .accrodion.active .accrodion-inner{
	border-color: #292E3C;
	background: #292E3C;
}

.Nearoo-faq-area.Nearoo-faq-area-dark .faq-accrodion .accrodion .accrodion-content p,
.Nearoo-faq-area.Nearoo-faq-area-dark .faq-accrodion .accrodion .accrodion-title h4{
	color: #fff;
}

.Nearoo-blog-area-dark .Nearoo-section-title p,
.Nearoo-blog-area-dark .Nearoo-section-title .Nearoo-title{
	color: #fff;
}
.Nearoo-blog-area-dark .Nearoo-blog-item .content > a,
.Nearoo-blog-area-dark .Nearoo-blog-item .content .title a,
.Nearoo-blog-area-dark .Nearoo-blog-item .content .blog-meta ul li a,
.Nearoo-blog-area-dark .Nearoo-blog-item .content .blog-meta ul li{
	color: #fff;
}

.Nearoo-blog-area-dark .Nearoo-blog-item .content > a:hover,
.Nearoo-blog-area-dark .Nearoo-blog-item .content .title a:hover{
	color: #ff0000;
}


.Nearoo-footer-area-dark.Nearoo-footer-area{
	background: #1f2128;
}

.Nearoo-footer-area-dark .footer-about-widget a,
.Nearoo-footer-area-dark .footer-about-widget p{
	color: #fff;
}
.Nearoo-footer-area-dark .footer-about-widget a:hover{
	color: #ff0000;
}

.Nearoo-footer-area-dark .footer-widget-info ul li a,
.Nearoo-footer-area-dark .footer-widget-info .title,
.Nearoo-footer-area-dark .footer-navigation ul li a,
.Nearoo-footer-area-dark .footer-navigation .title{
	color: #fff;
}
.Nearoo-footer-area-dark .footer-navigation ul li a:hover{
	color: #ff0000;
}

.Nearoo-footer-area-dark .footer-copyright .copyright-text p{
	color: #fff;
}

.Nearoo-footer-area-dark  .footer-copyright .apps-download-btn ul li a:hover{
	color: #fff;
}
.Nearoo-footer-area-dark  .footer-copyright .apps-download-btn ul li a.item-2{
	color: #fff;
}