/*==== rtl css ====*/



.Nearoo-traffic-area.Nearoo-traffic-area-rtl .traffic-thumb {
	left: 0;
	right: auto;
	transform: translateY(-50%) rotateY(-180deg);
}


.Nearoo-traffic-area-rtl .Nearoo-traffic-title{
	padding-left: 220px;
	padding-right: 0;
}


.Nearoo-traffic-area-rtl .Nearoo-traffic-service .icon{
	right: 0;
	left: auto;
}



.Nearoo-faq-area-rtl .faq-accrodion .accrodion .accrodion-title::after,
.Nearoo-faq-area-rtl .faq-accrodion .accrodion .accrodion-title::before{
	right: auto;
	left: 30px;
}


.Nearoo-project-area.Nearoo-project-area-rtl .Nearoo-project-box .Nearoo-project-thumb{
	left: 70px;
	right: auto;
}



.Nearoo-project-area-rtl .Nearoo-project-content .input-box input{
	padding-left: 0;
	padding-right: 30px;
}


.Nearoo-project-area-rtl .Nearoo-project-content .input-box button{
	margin-left: 0;
	margin-right: 10px;
}





.Nearoo-header-area-rtl .Nearoo-header-main-menu ul{
	text-align: right;
}





.Nearoo-header-area-rtl .Nearoo-header-main-menu ul > li .sub-menu{
	text-align: right;
}




















